<!DOCTYPE html>
<html lang="hr">

<head>
    <meta charset="UTF-8" />
    <title>Admin panel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>

<body>
    <header>
        <h1 class="site-title">Admin panel</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('main.admin_cars') }}">🚗 Automobili</a></li>
                <li><a href="{{ url_for('main.admin_users') }}">👨🏻‍💼 Korisnici</a></li>
                <li><a href="{{ url_for('main.admin_reservations') }}">📅 Rezervacije</a></li>

            </ul>
        </nav>
    </header>

    <main>
        <section class="form-section">
            <h2>Dodaj Novi Brend</h2>
            <form method="POST" class="register-form">
                <label>Naziv brenda</label>
                <input type="text" name="name" required>
                <button type="submit" class="link-button blue">✅ Dodaj brend</button>
            </form>
        </section>
    </main>

    <footer>
        <p>&copy; 2025 AutoMaster Admin</p>
    </footer>
</body>

</html>