<!DOCTYPE html>
<html lang="hr">

<head>
    <meta charset="UTF-8" />
    <title>Admin panel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>

<body>
    <header>
        <h1 class="site-title">Admin panel</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('main.admin_cars') }}">🚗 Automobili</a></li>
                <li><a href="{{ url_for('main.admin_users') }}">👨🏻‍💼 Korisnici</a></li>
                <li><a href="{{ url_for('main.admin_reservations') }}">📅 Rezervacije</a></li>

            </ul>
        </nav>
    </header>

    <main>
        <section>
            <h2>
                <center>Lista korisnika</center>
            </h2>
            <table class="users-admin">
                <thead>
                    <tr>
                        <th>Ime</th>
                        <th>Prezime</th>
                        <th>Email</th>
                        <th>Telefon</th>
                        <th>Akcije</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user.first_name }}</td>
                        <td>{{ user.last_name }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.phone }}</td>
                        <td class="button-row">
                            <a href="{{ url_for('main.admin_edit_user', user_id=user.id) }}"
                                class="link-button yellow">✏️ Uredi</a>
                            <form method="POST" action="{{ url_for('main.admin_delete_user', user_id=user.id) }}"
                                style="display:inline;">
                                <button type="submit" class="link-button red"
                                    onclick="return confirm('Obrisati korisnika?')">🗑️ Obriši</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <form method="get" action="{{ url_for('main.logout') }}" class="register-form">
                <center><button type="submit" style="margin-top: 20px;width: fit-content;">Odjavi se</button></center>
            </form>
        </section>
    </main>

    <footer>
        <p>&copy; 2025 AutoMaster Admin</p>
    </footer>
</body>

</html>