<!DOCTYPE html>
<html lang="hr">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>AutoMaster | Rezervacija</title>
	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css') }}" />
	{% with messages = get_flashed_messages(with_categories=true) %}
	{% if messages %}
	<ul class="flashes">
		{% for category, message in messages %}
		<li class="{{ category }}">{{ message }}</li>
		{% endfor %}
	</ul>
	{% endif %}
	{% endwith %}
</head>

<body>
	<header>
		<h1 class="site-title">AutoMaster</h1>
		<nav>
			<ul>
				{% if current_user.is_authenticated %}
				<li><a href="{{ url_for('main.reservations') }}" title="Moje rezervacije">📅</a></li>
				{% endif %}
				<li><a href="{{ url_for('main.cars') }}" title="Auta">🚗</a></li>
				<li>
					{% if current_user.is_authenticated %}
					<a href="{{ url_for('main.profile') }}" title="Profil">👨🏻‍💼</a>
					{% else %}
					<a href="{{ url_for('main.login') }}" title="Prijava">👨🏻‍💼</a>
					{% endif %}
				</li>
			</ul>
		</nav>
	</header>

	<main>
		<section class="form-section" id="login-section">
			<h2>Prijava</h2>
			<form class="login-form" method="POST" action="{{ url_for('main.login') }}">
				{{ form.hidden_tag() }}

				<label for="email">Email</label>
				{{ form.email(id="email", class="form-control", placeholder="Unesite email") }}

				<label for="password">Lozinka</label>
				{{ form.password(id="password", class="form-control", placeholder="Unesite lozinku") }}

				{{ form.submit(class="btn") }}
			</form>
			<p>
				Nemate nalog?
				<a class="link-button" href="{{url_for('main.register') }}">
					Registruj se
				</a>
			</p>
		</section>

	</main>

	<footer>
		<p>&copy; 2025 AutoMaster</p>
	</footer>

	<script>
		function showRegistration() {
			document.getElementById("login-section").classList.add("hidden");
			document.getElementById("register-section").classList.remove("hidden");
		}

		function showLogin() {
			document.getElementById("register-section").classList.add("hidden");
			document.getElementById("login-section").classList.remove("hidden");
		}
	</script>
</body>

</html>